<div class="container">

  <h1>BITSO</h1>
  <table class="table">
     <thead>
       <tr>
         <th>FX</th>
         <th>Last</th>
         <th>High</th>
         <th>Low</th>
         <th>Ask</th>
         <th>Bid</th>
         <th>Average</th>
         <th>Volume</th>
       </tr>
     </thead>
       <% @fy.length.times do |x| %>
     <tr>
       <td><%= @fy[x].upcase %></td>
       <td><%= @last[x] %></td>
       <td><%= @high[x] %></td>
       <td><%= @low[x] %></td>
       <td><%= @ask[x] %></td>
       <td><%= @bid[x] %></td>
       <td><%= @average[x] %></td>
       <td><%= @volume[x] %></td>
     </tr>
     <% end %>
   </table>
  <hr>
  <br>

  <h1>SHAPESHIFT</h1>
  <table class="table">
     <thead>
       <tr>
         <th>FX</th>
         <th>Price</th>
       </tr>
     </thead>
       <% @mega_array1.each_with_index do |x, index| %>
     <tr>
       <td><%= @mega_array1[index] %></td>
       <td><%= @mega_array2[index] %></td>
     </tr>
     <% end %>
   </table>
  <hr>

<h1>Differences</h1>
<table class="table">
   <thead>
     <tr>
       <th>FX</th>
       <th>PriceBITSO</th>
       <th>PriceSS</th>
       <th>PercentChange</th>
     </tr>
   </thead>
   <tr>
     <td>ETH_BTC</td>
     <td><%= @last[4] %></td>
     <td><%= @mega_array2[1] %></td>
     <td><%= (@last[4] / @mega_array2[1] -1) * 100 %></td>
   </tr>
   <tr>
     <td>BTC_ETH</td>
     <td>NO</td>
     <td><%= @mega_array2[0] %></td>
     <td>NO</td>
   </tr>
   <tr>
     <td>ETH_XRP</td>
     <td>NO</td>
     <td><%= @mega_array2[5] %></td>
     <td>NO</td>
   </tr>
   <tr>
     <td>XRP_ETH</td>
     <td>NO</td>
     <td><%= @mega_array2[4] %></td>
     <td>NO</td>
   </tr>
   <tr>
     <td>BTC_XRP</td>
     <td>NO</td>
     <td><%= @mega_array2[3] %></td>
     <td>NO</td>
   </tr>
   <tr>
     <td>XRP_BTC</td>
     <td><%= @last[2] %></td>
     <td><%= @mega_array2[2] %></td>
     <td><%= (@last[2] / @mega_array2[2] -1) * 100 %></td>
   </tr>

 </table>
<hr>


<h1>SHAPESHIFT</h1>
<table class="table">
   <thead>
     <tr>
       <th>FX</th>
       <th>Price</th>
     </tr>
   </thead>
     <% @mega_array1.each_with_index do |x, index| %>
   <tr>
     <td><%= @mega_array1[index] %></td>
     <td><%= @mega_array2[index] %></td>
   </tr>
   <% end %>
 </table>
<hr>


<h1>Arbitraje</h1>
<table class="table table-striped">
 <thead>
   <tr>
     <th>FX</th>
     <th>Cambio1</th>
     <th>Resultado</th>
     <th>Cambio2</th>
     <th>Resultado2</th>
     <th>Cambio3</th>
     <th>Resultado3</th>

   </tr>
 </thead>
 <tr>
  <td>BTC-> ETH -> BTC 1</td>
  <td>A Ether en SS</td> <td><%= @a = @mega_array2[0] %>ETH</td>
  <td>A BTC en BITSO</td> <td><%= @a * @last[4] %>BTC</td>
 </tr>
 <tr>
  <td>BTC-> ETH -> BTC 2</td>
  <td>A Ether en BITSO </td> <td> <%= @g = 1/@last[4] %>ETH</td>
  <td>A BTC en SS </td> <td><%= @g * @mega_array2[1] %>BTC</td>
 </tr>
 <tr>
  <td>BTC -> XRP -> BTC 1</td>
  <td>A XRP en SS </td> <td> <%= @b = @mega_array2[3] %>XRP</td>
  <td>A BTC en BITSO </td> <td><%= @b * @last[2] %>BTC</td>
 </tr>
 <tr>
  <td>BTC -> XRP -> BTC 2</td>
  <td>A XRP en BITSO </td> <td> <%= @h = 1/@last[2] %>XRP</td>
  <td>A BTC en SS </td> <td><%= @h * @mega_array2[2] %>BTC</td>
 </tr>
 <tr>
  <td>ETH -> BTC -> ETH 1</td>
  <td>A BTC en SS </td> <td> <%= @c = @mega_array2[1] %>BTC</td>
  <td>A ETH en BITSO </td> <td><%= @c * 1/@last[4] %>ETH</td>
 </tr>
 <tr>
  <td>ETH -> BTC -> ETH 2</td>
  <td>A BTC en BITSO </td> <td> <%= @i = @last[4] %>BTC</td>
  <td>A ETH en SS </td> <td><%= @i * @mega_array2[0] %>ETH</td>
 </tr>
 <tr>
  <td>ETH -> XRP -> BTC -> ETH 1</td>
  <td>A XRP en SS </td> <td> <%= @d = @mega_array2[5] %>XRP</td>
  <td>A BTC en BITSO </td> <td><%= @d = @d * @last[2] %>BTC</td>
  <td>A ETH en BITSO </td> <td><%= @d * 1/@last[4] %>ETH</td>
 </tr>
 <tr>
  <td>ETH -> XRP -> BTC -> ETH 2</td>
  <td>A XRP en SS </td> <td> <%= @j = @mega_array2[5] %>XRP</td>
  <td>A BTC en BITSO </td> <td><%= @j = @j * @last[2] %>BTC</td>
  <td>A ETH en SS </td> <td><%= @j * @mega_array2[0] %>ETH</td>
 </tr>
 <tr>
  <td>XRP -> BTC -> XRP 1</td>
  <td>A BTC en SS </td> <td> <%= @e = @mega_array2[2] %> BTC</td>
  <td>A XRP en BITSO </td> <td><%= @e = @e * 1/@last[2] %>XRP</td>
 </tr>
 <tr>
  <td>XRP -> BTC -> XRP 2</td>
  <td>A BTC en BITSO </td> <td> <%= @k = @last[2] %> BTC</td>
  <td>A XRP en SS </td> <td><%= @k = @k * @mega_array2[3] %>XRP</td>
 </tr>
 <tr>
  <td>XRP -> ETH -> BTC -> XRP 1</td>
  <td>A ETH en SS </td> <td> <%= @f = @mega_array2[4] %> ETH</td>
  <td>A BTC en BITSO </td> <td><%= @f = @f * @last[4] %>BTC</td>
  <td>A XRP en BITSO </td> <td><%= @f = @f * 1/@last[2] %>XRP</td>
 </tr>
 <tr>
  <td>XRP -> ETH -> BTC -> XRP 2</td>
  <td>A ETH en SS </td> <td> <%= @l = @mega_array2[4] %> ETH</td>
  <td>A BTC en SS </td> <td><%= @l = @l * @mega_array2[1] %>BTC</td>
  <td>A XRP en BITSO </td> <td><%= @l = @l * 1/@last[2] %>XRP</td>
 </tr>

</table>

</div>
